*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

:root{
    --body-color : rgba(250, 250, 250);
    --color-white : rgba(250,250,250);
    --first-color-second : rgba(38,37,37);
    --first-color : rgba(110, 87, 224);
    --first-shadow : rgba(0, 0, 0, 0.1);

    --box-color: #ffff;
    --nav-color: #ffff;
    --nav-icon: #0000;
    --logo-color: #00000000;

    --text-color: #4444;
    --color-white: #242526;

    --icon-color: #242526;
    --mode-color: #ccc;
}

body{
    background: var(--body-color);
}

.container{
    width: 100%;
    position: relative;
}

html{
    scroll-behavior: smooth;
}

/*--nav bar--*/

nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 100px;
    padding-inline: 10vw;
    transition: 0.3s;
    z-index: 100;
}

.nav-logo{
    position: relative;
}

.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--logo-color);
}

.nav-menu,
.nav-menu-list{
    display: flex;
    column-gap: -30px;
}

.nav-menu .nav_list{
    list-style: none;
    position: relative;
}

.nav-link{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}

.nav-menu-btn{
    display: none;
}

.nav-menu-btn i {
    font-size: 28px;
    cursor: pointer;
    color: var(--nav-icon);
}

.active-link{
    position: relative;
    color: var(--first-color);
    transition: 0.3s;
}

.active-link::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 2px;
    background: var(--first-color);
}

.wrapper {
    padding-inline: 10vw;
}

.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
    margin-top: 10%;
}

.featured-text .hello{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -20px;
    color: var(--text-color);
}

.featured-name { 
    font-size: 50px;
    font-weight: 600;
    margin-block: 20px;
    color: #8749f2;
    margin-bottom: 10px;
}

.typedText {
    font-family: sans-serif;
    color: #8749f2;
    font-size: 8px;
    font-weight: 600;
    text-transform: capitalize;
}

.text-info{
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--text-color);
}

.social_icons{
    display: flex;
    margin-top: 30px;
    margin-left: 5px;
    gap: 32px;
}

.social_icons .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--icon-color);
    border-radius: 50%;
    box-shadow: 0px 1px 5px 3px #8749f2;
    cursor: pointer;
}

.icon_circle{
    position: absolute;
    transform: transform(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    animation: iconSlide 4s infinite alternate;
}

@keyframes iconSlide{
    25%{
        border: 2px solid #e6d12e;
        left: 0px;
    }
    50%{
        border: 2px solid #c40101;
        left: 70px;
    
}

.social_icons:hove .icon_circle{
    animation-play-state: paused;
    cursor: pointer;
}

